#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  } /* Single column */
}

.food-review-container{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 20px; /* Gap between columns */
}

.video-container {
  position: relative;
}

.video-container video {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.mirror {
  transform: scaleX(-1);
}
